.reveal 
{
    section img {
        border: none;
        margin: 0;
    }

    section figcaption {
        font-size: 12px;
    }

    pre {
        white-space: pre-wrap;
    }

    .demonstration-slide {
        bottom: 0;
    }

    .demonstration-slide-content {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .css-target-element {
        width: 90%;
        flex: 1;
        margin: 0 auto;
    }

    .css-editable-sections {
        display: flex;
        position: relative;
        z-index: 2;
    }

    .demonstration-item {
        color: #333;
        position: relative;
        padding: 20px 0;

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            background-color: inherit;
            font-size: 24px;
            line-height: 28px;
            font-weight: bold;
            width: 28px;
            height: 28px;
        }

        &:nth-child(1) {
            background-color: #F2E394;

            &::before {
                content: 'A';
            }
        }

        &:nth-child(2) {
            background-color: #F2AE72;

            &::before {
                content: 'B';
            }
        }

        &:nth-child(3) {
            background-color: #D96459;

            &::before {
                content: 'C';
            }
        }

        &:nth-child(4) {
            background-color: #588C7E;

            &::before {
                content: 'D';
            }
        }
    }

    .flex-container,
    .columns-container,
    .grid-container,
    .transitions-container,
    .transforms-container,
    .variables-container {
        height: 100%;
    }

    iframe {
        height: 317px;
    }

    p.ciu_embed {
        margin: 0;
    }

    #transforms-title p.ciu_embed:first-of-type iframe {
        height: 285px;
    }

    .transitions-container,
    .transforms-container,
    .variables-container {
        display: flex;
        align-items: center;

        .demonstration-item {
            flex: 1;
        }
    }

    .transforms-container {
        align-items: stretch;
        flex-direction: column;
    }
}


